/* font-family */
p {
    font-family: Arial;
}

h1 {
    font-family: Indie Flower;
}

/* font-size */
body{
    font-size: 10px;
}

h1{
    font-size: 5.0em;
}

p {
    font-size: 2.0em;
}

span{
    font-size: 2.0em; /*2x original font size*/
}

/* font-weights (how thick the lines are) 100-800*/
p {
    font-weight: 100;
    /* font-weight: bold;
    font-weight: 800; */
}

/* line-heights (1.5 or 2 --> normally)*/
p {
    line-height: 2;
}

/* text-align */
h1 {
    text-align: center;
    /* text-align: right; */
}
p {
    text-align: right;
}

/* text-decoration */
p {
    text-decoration: underline;
    text-decoration: line-through;
}
